<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
    <sectionGroup name="spring">
      <!--<section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Web" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.45000" newVersion="2.0.0.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net,Version=2.0.0.0, Culture=neutral, PublicKeyToken=af08829b84f0328e">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="INFO" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logs\TestLogs.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="CoinExchangeLog">
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="NHibernate">
      <level value="OFF" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="OFF" />
    </logger>
  </log4net>
  <spring>
    <context>
      <!--Tardes BC Spring files-->
      <resource uri="file://~\bin\Config\MarketDataControllerConfig-Stage.xml" />
      <resource uri="file://~\bin\Config\OrderControllerConfig-Stage.xml" />
      <resource uri="file://~\bin\Config\TradeControllerConfig-Stage.xml" />
      <resource uri="file://~\bin\SpringConfig.xml" />
      <resource uri="file://~\bin\Config\MemoryImageConfig.xml" />
      <resource uri="file://~\bin\Config\MarketDataQueryServiceConfig.xml" />
      <resource uri="file://~\bin\Config\OrderApplicationServiceConfig.xml" />
      <resource uri="file://~\bin\Config\StubOrderIdGenerator.xml" />
      <resource uri="file://~\bin\Config\StubTradeIdGenerator.xml" />
      <resource uri="file://~\bin\Config\TradeEventListenerConfig.xml" />
      <resource uri="file://~\bin\Config\TickerInfoServiceConfig.xml" />
      <resource uri="file://~\bin\Config\OrderEventListenerConfig.xml" />
      <resource uri="file://~\bin\Config\TradeApplicationServiceConfig.xml" />
      <!--<resource uri="file://~\bin\InfrastructurePersistenceConfig.xml" />-->
      <!--Identity and access config files-->
      <resource uri="file://~\bin\Config\IdentityAcessControllersConfig.xml" />
      <resource uri="file://~\bin\Config\ApplicationServicesConfig.xml" />
      <resource uri="file://~\bin\Config\InfrastructureServicesConfig.xml" />
      <!--<resource uri="file://~\bin\InfrastructurePersistenceConfig.xml" />-->
      <resource uri="file://~\bin\SpringDbConfig.xml" />
      <resource uri="file://~\bin\Config\TradesInfrastructureServicesConfig-Stage.xml" />
      <!-- Funds BC-->
      <resource uri="file://~\bin\FundsApplicationServicesConfig.xml" />
      <resource uri="file://~\bin\FundsDomainModelConfig.xml" />
      <!--<resource uri="file://~\bin\FundsPersistenceConfig.xml" />-->
      <resource uri="file://~\bin\Config\FundsInfrastructureServicesConfig-Stage.xml" />
      <resource uri="file://~\bin\Config\CoinClientServiceConfig-Stage.xml" />
      <resource uri="file://~\bin\FundsRestServicesConfig-Stage.xml" />
      <!-- Funds BC-->
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
  </spring>
  <connectionStrings>
    <add name="EventStore" connectionString="Url = http://localhost:8081" />
  </connectionStrings>
  <appSettings>
    <!-- Allowed IP addressess -->
    <add key="AuthorizeIPAddresses" value="::1, 127.0.0.1, 191.235.131.85, 202.142.174.186" />
    <!--  BitcoinLib settings start -->
    <!--WHether to use testnet or go live-->
    <add key="UseTestNet" value="true" />
    <add key="PollingInterval" value="6000000" />
    <!-- Shared RPC settings start -->
    <add key="RpcRequestTimeoutInSeconds" value="10" />
    <add key="RpcResendTimedOutRequests" value="true" />
    <add key="RpcTimedOutRequestsResendAttempts" value="5" />
    <add key="RpcDelayResendingTimedOutRequests" value="true" />
    <add key="RpcUseBase2ExponentialDelaysWhenResendingTimedOutRequests" value="true" />
    <add key="RpcUnlockWalletImplicitlyWhenRequired" value="true" />
    <!-- Shared RPC settings end -->
    <!-- Bitcoin settings start -->
    <add key="Bitcoin_DaemonUrl" value="http://localhost:8332" />
    <add key="Bitcoin_DaemonUrl_Testnet" value="http://localhost:18332" />
    <add key="Bitcoin_WalletPassword" value="" />
    <add key="Bitcoin_RpcUsername" value="bitcoinuser" />
    <add key="Bitcoin_RpcPassword" value="3QtnxrB7P5y4EpBdad1MkCeB2RHmArvcarw7udgXsAce" />
    <!-- Bitcoin settings end -->
    <!-- Litecoin settings start -->
    <add key="Litecoin_DaemonUrl" value="http://localhost:9332" />
    <add key="Litecoin_DaemonUrl_Testnet" value="http://localhost:19332" />
    <add key="Litecoin_WalletPassword" value="MyWalletPassword" />
    <add key="Litecoin_RpcUsername" value="MyRpcUsername" />
    <add key="Litecoin_RpcPassword" value="MyRpcPassword" />
    <!-- Litecoin settings end -->
    <!-- Demo client settings start -->
    <add key="ExtractMyPrivateKeys" value="false" />
    <!-- Demo client settings end -->
    <!--  BitcoinLib settings end -->
  </appSettings>
</configuration>