<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
    <sectionGroup name="spring">
      <!--<section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Web" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.45000" newVersion="2.0.0.45000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net,Version=2.0.0.0, Culture=neutral, PublicKeyToken=af08829b84f0328e">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="INFO" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="CoinExchangeLog">
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
  <spring>
    <context>
      <!--<resource uri="file://~\bin\Config\TradeControllerConfig-Test.xml" />-->
      <resource uri="file://~\bin\Config\MarketDataControllerConfig-Stage.xml" />
      <resource uri="file://~\bin\Config\OrderControllerConfig-Stage.xml" />
      <resource uri="file://~\bin\Config\TradeControllerConfig-Stage.xml" />
      <resource uri="file://~\bin\SpringConfig.xml" />
      <!--<resource uri="file://~\Config\MarketDataControllerConfig-Stage.xml" />-->
      <resource uri="file://~\bin\Config\MemoryImageConfig.xml" />
      <resource uri="file://~\bin\Config\MarketDataQueryServiceConfig.xml" />
      <resource uri="file://~\bin\Config\OrderApplicationServiceConfig.xml" />
      <resource uri="file://~\bin\Config\StubOrderIdGenerator.xml" />
      <resource uri="file://~\bin\Config\StubTradeIdGenerator.xml" />
      <resource uri="file://~\bin\Config\TradeEventListenerConfig.xml" />
      <resource uri="file://~\bin\Config\TickerInfoServiceConfig.xml" />
      <!--<resource uri="file://~\Config\OrderControllerConfig-Stage.xml" />-->
      <resource uri="file://~\bin\Config\OrderEventListenerConfig.xml" />
      <resource uri="file://~\bin\Config\TradeApplicationServiceConfig.xml" />
      <!--<resource uri="file://~\bin\Config\OrderControllerConfig-Test.xml" />-->
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
  </spring>
  <connectionStrings>
    <add name="EventStore" connectionString="Url = http://localhost:8081" />
  </connectionStrings>
</configuration>