<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <sectionGroup name="spring">
        <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
        <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      </sectionGroup>
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
    </configSections>
    <spring>
      <context>
        <resource uri="file://~\Config\InfrastructureServicesConfig.xml" />
        <resource uri="file://~\InfrastructurePersistenceConfig.xml" />
      </context>
      <parsers>
        <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
        <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
      </parsers>
    </spring>
    <common>
      <logging>
        <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
          <arg key="showLogName" value="true" />
          <arg key="showDataTime" value="true" />
          <arg key="level" value="INFO" />
          <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
        </factoryAdapter>
      </logging>
    </common>

    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <log4net>
      <root>
        <level value="All" />
        <appender-ref ref="LogFileAppender" />
      </root>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="Logs.txt" />
        <param name="AppendToFile" value="true" />
        <rollingStyle value="Size" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
      </appender>
      <logger name="CoinExchangeLog">
        <level value="All" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>

    <connectionStrings>
      <add name="MySql" connectionString="Server=localhost;Port=3306;Database=coinexchangedev;Uid=root;password=root;" />
    </connectionStrings>

    <appSettings>

      <!--Account SID of Twilio's Account for sending SMS-->
      <add key="TwilioSID" value="ACa18e7914f82dea83fe15e9050c723cc9"/>
      <!--Auth Token of Twilio's Account for sending SMS-->
      <add key="TwilioAuthToken" value="f72e03a35c28cd35a56e0f05f7dc64e7"/>
      <!--Phone Number for Twilio to send SMS-->
      <add key="TwilioPhoneNumber" value="+12673411075"/>
      <!--Email Address from which to send the email-->
      <add key="MfaEmailAddress" value="crypgocoinexchange@gmail.com"/>
      <!--Email Password from which to send the email-->
      <add key="MfaEmailPassword" value="CrypGo123"/>
      <!--Email Port from which to send the email-->
      <add key="MfaEmailPort" value="587"/>
      <!--Email Host from which to send the email-->
      <add key="MfaEmailHost" value="smtp.gmail.com"/>


    </appSettings>
    
  </configuration>